dtd/demo/companies.dtd

<!ELEMENT companies (company+)>
<!ELEMENT company (name, location, revenue, employees, departments)>
<!ATTLIST company industry CDATA #REQUIRED>
<!ATTLIST company status (public|private) #REQUIRED>
<!ELEMENT name (#PCDATA)>
<!ELEMENT location (#PCDATA)>
<!ELEMENT revenue (#PCDATA)>
<!ELEMENT departments (department+)>
<!ELEMENT department (name, employees)>
<!ELEMENT employees (#PCDATA)>
